
<div class="homeContainerContainer">
      <div class="homeContainer">
            <div class="homepageHeader">
                  <h1>REMBR</h1>
            </div>
            <div class ="homepageButtons">
                  <input type="submit" value="Log In" class="HomeLoginButt" onclick="location.href='/user/login'">
                  <input type="submit" value="Sign Up" class="HomeSignUpButt" onclick="location.href='/user/signup'">
            </div>
      </div>
</div>