<h1>REMBR HOME PAGE</h1>
      <input type="submit" value="Log In" class="btn waves-effect waves-light" onclick="location.href='/user/login'">
      <input type="submit" value="Sign Up" class="btn waves-effect waves-light" onclick="location.href='/user/signup'">