<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>REMBR</title>
    <link href="https://fonts.googleapis.com/css?family=Dokdo|IM+Fell+Great+Primer+SC|Smythe" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/69d83e4c4f28f156ca2e5790d0e271ab?family=Zefani+Stencil" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="site-header">
  
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>
