html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: #37718E;
    color: rgba(255, 255, 255, .7);
    height: 100%;
}
.index-wrap-1 {
    margin: auto 0px;

    min-height: 100vh;
    /* min-width: 500px;
    max-width: 900px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.index-wrap-2 {
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.index-wrap-3 {
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: "Zefani Stencil";
    font-size: 80px;
    text-decoration: underline;
    padding-bottom: 80px;
}
h3 {
    font-family: "Zefani Stencil";
    font-size: 60px;
    text-decoration: underline;
    padding-bottom: 80px;
}
.login-wrap-1 {
    margin: auto 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-wrap-2 {
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.login-wrap-3 {
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
input[type=email]{
    background-color: white;
}
.homepageButtons input[type=submit]{
    background-color:  rgba(244, 164, 35, .6);
  border: none;
  border-radius: 10%;
  color: rgba(255, 255, 255, .5);;
  padding: 16px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.loginButton input[type=submit]{
    background-color:  rgba(244, 164, 35, .6);
  border: none;
  border-radius: 10%;
  color: rgba(255, 255, 255, .5);;
  padding: 16px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}





.show-wrap-1 {
    margin: auto 0px;

    min-height: 100vh;
    /* min-width: 500px;
    max-width: 900px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.show-wrap-2 {
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.show-wrap-3 {
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    /* flex-wrap: none; */
    align-items: center;
    justify-content: space-evenly;
}
.column-1 {
    height: 90%;
    width: 45%;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.column-2 {
    height: 90%;
    width: 45%;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    justify-content: space-between;
}
.show-button input[type=submit]{
    background-color:  rgba(244, 164, 35, .6);
  border: none;
  border-radius: 10%;
  color: rgba(255, 255, 255, .5);;
  padding: 10px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  bottom: 0;

}


/* .show-button {
    position: aboslute;
    bottom: 0;
} */
/* Text field styling */
.newBookmark-text-1, .newBookmark-text-2, .newBookmark-text-3{
    width: 50%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 17px;
    position: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
.login-email-field, .login-password-field {
    width: 85%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 17px;
    position: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.signup-wrap-1{
    margin: auto 0px;

    min-height: 100vh;
    /* min-width: 500px;
    max-width: 900px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signup-wrap-2{
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.signup-wrap-3{
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.newbookmark-wrap-1 {
    margin: auto 0px;
    min-height: 100vh;
    /* min-width: 500px;
    max-width: 900px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newbookmark-wrap-2 {
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.newbookmark-wrap-3 {
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.newnote-wrap-1{
    margin: auto 0px;
    min-height: 100vh;
    /* min-width: 500px;
    max-width: 900px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newnote-wrap-2{
    width: 95%;
    height: 900px;
    background: rgba(244, 164, 35, .6);
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}
.newnote-wrap-3{
    width: 90%;
    height: 800px;
    background: grey;
    /* background: rgba(244, 164, 35, .6); */
    border: 2px solid rgb(97, 95, 95); 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: center;
}




  /* input[type=text] {
    background-color: white;
    background-position: 10px 10px; 

    padding-left: 40px;
  } */