{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}


<section class="row">
  <h4>Log In:</h4>

  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="username" name="username" placeholder="username">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <a href='user/sign-up'></a>
      <input type="submit" value="Log In" class="btn waves-effect waves-light">
    </p>
  </form>
</section>