{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}


<section class="row">
  <h4>Log In:</h4>

  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="email">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <a href='user/signup'></a>
      <input type="submit" value="Log In" class="btn waves-effect waves-light">
      <input type="submit" value="Sign Up" class="btn waves-effect waves-light" onclick="location.href='/user/signup'">
        {{!-- THIS NEEDS TO REROUTE THE SIGNUP BUTTON TO SIGNUP PAGE --}}
    </p>
  </form>
</section>

