<div class="newbookmark-wrap-1">
  <div class="newbookmark-wrap-2">
    <div class="newbookmark-wrap-3">
      <section class="row">
        <h3>New REMBR:</h3>
        <form action="/user/newBookmark/{{result.id}}" method="post">
          <div class="input-field">
            <input type="text" name="title" placeholder="title" class="newBookmark-text-1">
          </div>
          <div class="input-field">
            <input type="url" name="url" placeholder="url" class="newBookmark-text-2">
          </div>
          <div class="input-field">
            <input type="text" name="text" placeholder="text" class="newBookmark-text-3">
          </div>
          <div class="newBookmark-button">
            <input type="submit" value="New Bookmark" class="btn waves-effect waves-light">
          </div>
        </form>
      </section>
    </div>
  </div>
</div>