<h1>newNote</h1>


<form action="/user/newNote/{{result.id}}" method="post" class="createRembr">
    <p class="input-field">
      <input type="text" name="title" placeholder="title">
    </p>
    <p class="input-field">
      <textarea  name="Note" cols="60" rows="10" placeholder="Note"></textarea>
    <p>
      <input type="submit" value="Submit" class="btn waves-effect waves-light">
      </p>
  </form>