{{#if user}}
  <section class="profile">
    {{#with user}}
    <h2>{{user.email}}</h2>
    {{#if user.bookmark}}
      <div class="bookmarks">
        {{#each user.bookmark}}
        {{log this}}
        {{/each}}
      </div>
    {{else}}
      <p>No saved bookmarks yet</p>
    {{/if}}
    {{/with}}
  </section>
{{/if}}