<h1>this needs to work</h1>

<section class="profile">
  <h2>{{user.email}}</h2>
  {{#if user.bookmarks}}
    <div class="bookmarks">
      {{#each user.bookmarks}}
         {{log this}}
      {{/each}}
    </div>
  {{else}}
    <p>No saved bookmarks yet</p>
  {{/if}}
</section>
