<div class="signup-wrap-1">
  <div class="signup-wrap-2">
    <div class="signup-wrap-3">
<section class="row">
  <h3>Sign Up:</h3>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="email" class="signup-email-field-1">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password" class="signup-password-field-2">
    </p>
    <p class="signup-button">
      <input type="submit" value="Submit">
    </p>
  </form>
</section>
    </div>
  </div>
</div>