<div class="updateBookmark-wrap-1">
  <div class="updateBookmark-wrap-2">
    <div class="updateBookmark-wrap-3">
        <h4>Update REMBR Bookmark:</h4> 
        
        <form action="/user/updateBookmark/{{id}}?_method=PUT" method="POST" class="createRembr">
          <p class="input-field">
            <input type="text" name="title" placeholder="title">
          </p>
          <p class="input-field">
            <input type="url" name="url" placeholder="url">
          </p>
          <p class="input-field">
            <input type="text" name="text" placeholder="text">
          </p>
          <p class="input-field">
            <input type="submit" value="User" class="btn waves-effect waves-light">
          </p>
        </form>
      </section>
    </div>
  </div>
</div>
