<section class="row">
  <h4>New REMBR:</h4>

  <form action="update" method="put" class="createRembr">
    <p class="input-field">
      <input type="title" name="title" placeholder="title">
    </p>
    <p class="input-field">
      <input type="url" name="url" placeholder="url">
    </p>
    <p class="input-field">
      <input type="text" name="text" placeholder="text">
    </p>
    <p class="input-field">
      <input type="submit" value="Submit" class="btn waves-effect waves-light">
    </p>
  </form>
</section>